---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  goTemplate: true
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
    - merge:
        mergeKeys: [server]
        generators:
          - clusters:
              values:
                addonChart: kube-prometheus-stack
                # anything not staging or prod use this version
                addonChartVersion: 70.0.3
                addonChartRepository: https://prometheus-community.github.io/helm-charts
              selector:
                matchExpressions:
                  - key: enable_kube_prometheus_stack
                    operator: In
                    values: ['true']
          - clusters:
              selector:
                matchLabels:
                  environment: staging
              values:
                addonChartVersion: 70.0.3
          - clusters:
              selector:
                matchLabels:
                  environment: production
              values:
                addonChartVersion: 70.0.3
  template:
    metadata:
      name: '{{.values.addonChart}}'
      finalizers:
        - resources-finalizer.argocd.argoproj.io/background
    spec:
      project: default
      sources:
        - repoURL: '{{.metadata.annotations.applications_repo_url}}'
          targetRevision: '{{.metadata.annotations.applications_repo_revision}}'
          ref: values
        - chart: '{{.values.addonChart}}'
          repoURL: '{{.values.addonChartRepository}}'
          targetRevision: '{{.values.addonChartVersion}}'
          helm:
            releaseName: '{{.values.addonChart}}'
            ignoreMissingValueFiles: true
            valueFiles:
              - $values/{{.metadata.annotations.applications_repo_path}}/config/{{.values.addonChart}}/values.yaml
              - $values/{{.metadata.annotations.applications_repo_path}}/config/{{.values.addonChart}}/{{.metadata.labels.environment}}.yaml
            values: |
              {{- if .metadata.annotations.enable_prometheus_federation}}
              prometheus:
                prometheusSpec:
                  additionalScrapeConfigs:
                  - job_name: {{ .Values.additionalScrapeConfig.jobName }}
                    metrics_path: "/federate"
                    params:
                      "match[]":
                        {{- range .Values.additionalScrapeConfig.matchers }}
                          - {{ . | quote }}
                        {{- end }}
                    static_configs:
                      - targets:
                        {{- range .Values.additionalScrapeConfig.targets }}
                          - {{ . | quote }}
                        {{- end }}
              {{- end }}
      destination:
        namespace: '{{.metadata.annotations.kube_prometheus_stack_namespace}}'
        name: '{{.name}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - ApplyOutOfSyncOnly=true
      ignoreDifferences:
        - group: admissionregistration.k8s.io
          kind: MutatingWebhookConfiguration
          jqPathExpressions: ['.webhooks[].clientConfig.caBundle']
        - group: admissionregistration.k8s.io
          kind: ValidatingWebhookConfiguration
          jqPathExpressions: ['.webhooks[].clientConfig.caBundle']
